.wrapper {
  height: 50%;
  width: 100%;
  position: absolute;
  transition:  all 0.5s ease 0s;
  padding: 50px 25px;
  left: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.body {
  width: 300px;
}


.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  height: 45px;
  align-items: center;
}

.text {
  flex: 0 0 33.333%;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

