.cord {
  width: 92px;
  padding-left: 5px;
  height: 30px;
}

.cord:first-child {
  border-radius: 7px 0 0 7px;
}

.input {
  border-radius: 7px 0 0 7px;
  height: 30px;
  padding-left: 5px;
}

.button {
  background-color: #6c8a92;
  border-style: solid;
  color: #c6dadb;
  cursor: pointer;
  font-size: 13px;
  width: 70px;
  font-weight: 400;
  margin: 5px 0 0;
  min-width: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 0 7px 7px 0;
}