.wrapper {
  height: 50%;
  background-color: black;
  width: 300px;
  position: absolute;
  top: 0;
  transition:  all 0.5s ease 0s;
  padding: 50px 25px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  height: 45px;
  align-items: center;
}

.text {
  flex: 0 0 33.333%;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

