.wrapper {
  height: 450px;
  background: cornflowerblue;
  border-radius: 30px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
  @media (max-width: 628px) {
    margin-bottom: 0px;
  }
  @media (max-width: 526px) {
    height: auto;
  }

}

.header {
  height: 40px;
  padding: 0px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main {
  flex: 1 1 auto;
  //padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 230px;
  @media (max-width: 526px) {
    flex-wrap: wrap;
    //margin-bottom: 25px;
    max-height: none;
  }
}

.info {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  justify-content: center;
  @media (max-width: 628px) {
    flex: 0 0 40%;
  }
  @media (max-width: 526px) {
    flex: 1 1 100%;
  }
}

.block {
  @media (max-width: 526px) {
    flex: 1 1 50%;
  }
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 750px) {
    margin-bottom: 15px;
  }
}

.city {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  @media (max-width: 784px) {
    font-size: 24px;
  }
  @media (max-width: 674px) {
    font-size: 20px;
  }
  @media (max-width: 542px) {
    font-size: 18px;
  }

}

.country {
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
  @media (max-width: 784px) {
    font-size: 24px;
  }
  @media (max-width: 674px) {
    font-size: 20px;
  }
  @media (max-width: 542px) {
    font-size: 18px;
  }
}

.temp {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  @media (max-width: 784px) {
    font-size: 34px;
  }
  @media (max-width: 674px) {
    font-size: 26px;
  }
  @media (max-width: 542px) {
    font-size: 20px;
  }

  span {
    font-size: 50px;
    position: absolute;
    @media (max-width: 784px) {
      font-size: 34px;
    }
    @media (max-width: 674px) {
      font-size: 26px;
    }
    @media (max-width: 542px) {
      font-size: 20px;
    }
  }
}

.item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

//.favIcon {
//  flex: 0 1 25%;
//  display: flex;
//  justify-content: flex-end;
//}

.footer {
  padding: 0px 15px;
  display: flex;
  //justify-content: flex-end;
  align-items: center;
  margin: 0 -4px;
  @media (max-width: 750px) {
    flex-wrap: wrap;
  }
  @media (max-width: 666px) {
    padding: 0px;
  }
}

.column {
  padding: 0 4px;
  width: 100%;
  @media (max-width: 750px) {
    margin-bottom: 15px;
  }
}

.elem {
  flex: 1 1 18%;
  @media (max-width: 750px) {
    flex: 1 1 25%;
  }

}


.card {
  background: #5a8ce5;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  height: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0px;
  }

  img {
    height: 15px;
    width: 15px;
    margin-right: 4px;
  }
}

.delete {
  width: 20px;
  height: 20px;
  background: transparent url("../../images/closed.svg") no-repeat 0 0;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.add {
  width: 20px;
  height: 20px;
  background: transparent url("../../images/closed.svg") no-repeat 0 0;
  border: none;
  transform: rotate(45deg);
  transform-origin: 33%;
  cursor: pointer;
}