.main {
  margin-right: 25px;
}
//
//.main:last-child {
//  border-radius: 0 7px 7px 0;
//  border-width: 2px 2px 2px 1px;
//}


.button {
  background-color: #6c8a92;
  border-style: solid;
  color: #c6dadb;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  margin: 5px 0 0;
  min-width: 40px;
  padding: 5px;
  text-align: center;
}

.button:first-child {
  border-radius: 7px 0 0 7px;
  border-width: 2px 1px 2px 2px;
}

.button:last-child {
  border-radius: 0 7px 7px 0;
  border-width: 2px 2px 2px 1px;
}