
.main {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #3388ff;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 5px;
  max-width: 900px;
  @media (max-width: 436px) {
    justify-content: space-between;
  }
  @media (max-width: 436px) {
    padding: 0 10px;
  }

}

.info {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background: transparent url("./../../images/gear.svg") no-repeat;
  transition: all 0.3s ease 0s;
  position: relative;
}

.favorites {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  margin-right: 25px;
  background: transparent url("./../../images/star.svg") no-repeat;
  transition: all 0.3s ease 0s;
  position: relative;
  @media (max-width: 436px) {
    margin-right: 15px;
  }
}

.controls {
  display: flex;
  align-items: center;

}


@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("./../../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon"],
[class*="icon"] {
  &:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    border: none;
  }
}

.icon:before {
  content: "\e900";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}
