//.wrapper {
//  display: flex;
//
//}
//
//
//.background {
//  background-color: white;
//  height: 15px;
//  width: 40px;
//  border-radius: 15px;
//  position: relative;
//}
//
//
//.toggle {
//  position: absolute;
//  top: -1px;
//  left: 0px;
//  height: 18px;
//  width: 18px;
//  border-radius: 50%;
//  background-color: brown;
//  transition:  all 0.3s ease 0s;
//}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.checkbox {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 0px 0px 70px;
  position: relative;
  cursor: pointer;
  color:#b2b2b2;
  transition: all 0.3s ease 0s;
}

.checkbox.active{
  color: #000;
}

.checkbox.active:before{
  background-color:#b2b2b2;
}
.checkbox.active:after{
  background-color:#b2b2b2;
  left: 25px;
}

.checkbox:before{
  content: '';
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #bfc0c4;
  position: absolute;
  left: 0;
  top: -7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.checkbox:after{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -12px;
  background-color: #bfc0c4;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.checkbox input{
  display: none;
}