.App {
  /*max-width: 1200px;*/
  /*margin: 0 auto;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*padding: 30px;*/
  min-height: 100vh;
}

.main {
  /*max-width: 900px;*/
  max-width: 47%;
  margin: 0 auto;
  overflow: hidden;
  /*position: relative;*/
  padding: 0 30px;
  min-height: 100vh;
}

