.App {
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    padding: 10px;
    min-height: 100vh;
}

.main {
    /*max-width: 900px;*/
    max-width: 51%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*position: relative;*/
    padding: 0 30px;
    min-height: 100vh;

}


* {
    padding: 0px;
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}



